/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');*/

html {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    background-color: blue;
}

#header {
    background-color: red;
    color: white;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.headerbutton {
    text-decoration: none;
    color: white;
    font-weight: bold;
    height: 100%;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerbutton:hover {
    background-color: white;
    color: red;
}

#body {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#content {
    background-color: white;
    width: 600px;
    padding: 24px;
}

.comment {
    margin: 4px 4px 4px 16px;
    border-radius: 4px;
    border: 1px solid black;
    padding: 6px;
}

